/*  Card */
.cardContainerTotal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.cardTable {
  display: table-cell;
}

.card {
  position: relative;
  height: 200px;
  display: inline-block;
  width: 100%;

  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  @media (min-width: $breakpoint-xl) {
    width: 33%;
  }
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
    width: 50%;
  }

  &__selecionado {
    width: 100% !important;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px !important;
    }
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  position: absolute;
  text-align: left;
  top: 0%;
  width: auto;
  display: inline-block;
}
.imgCard {
  width: 139px;
  height: 139px;
  border-radius: 50%;
  margin: 30px;
  display: inline-block;
}

.card-selected {
  background-color: $cor-secundaria;
  color: #fff;
}
