<header>
  <img src="assets/img/logo.png" alt="Logo do site da empresa Commcepta" class="logo" />
  <nav id="nav">
    <ul>
      <li>
        <a href="#about" class="right">CONTATO</a>
      </li>
      <li>
        <a href="#contact" class="right">SERVIÇO</a>
      </li>
      <li>
        <a href="#news" class="right">EMPRESA</a>
      </li>
    </ul>
  </nav>
  <div class="menu-toggle">
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()" title="Menu lateral">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
</header>
